body {
    font-family: courier, times;
    font-size: 40px;
    background-color: #171717;
    color: #4CB2FF;
    text-align: center;
}

h1 {
    font-size: 70px;
}

a {
    text-decoration: none;
    color: #4CB2FF;
}

a:hover {
    background: #4CB2FF;
    color: #171717;
}
